html {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
} 

.fr{
    float:right;
    width: 250px;
 } 

 .wrapper {
    width:100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;     /* margin: 0 auto; shorthand way of writing margin-top, bottom, right & left. */ 
    margin-left: auto;
    list-style: none;
    padding-left: 10%;  
}

main h2 {
    text-align: center;
}

#header {
    color: cyan;
    font-size: 200%; 
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif; 
}

main img {
    margin-top: 30px;
    width: 100%;
}

a {
    color: cyan;
    text-decoration: none;
}

nav > ul, div > ul {            
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content: space-between;
    background-color: black;                  
    max-width:80%;
    font-size: 150%; 
    font-weight: bold;
    color: lime;       
}

/* This 'container' class is used to position the text
 written on the image relative to it */
.container {
    position: relative;
    text-align: center;
    color: white;
}

   /* This 'message' class is used to place text on the 
   image of the rock */
.message {
    position: absolute;
    bottom: 10%;
    right: 20%;
    padding: 30px;
    font-size: 3em;
  }  

  th, td {
    border: 2px solid black;
    padding: 0.5em;
}

/* The sidebyside class becomes a flex container & the two 
tables automatically becomes flex items so they can sit 
side by side on the same line. */ 
.sidebyside {
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-between;
}

.text-center {
    text-align: center;
} 

/* This foo class targets the footer area to style its 
font & background colours & centre the text.  */   
.foo {
    text-align: center;  
    background-color: darkslategrey;
    color:whitesmoke;
}

/* This wrapper class is used to wrap the elements they are used with
 in order to apply style.  */
.wrapper {
    width:100%;
    margin: 0 auto;  
    list-style: none;
    padding-left: 10%;  
}

